@model IEnumerable<System.App.Entities.LCD_Price>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/textSlide.js"></script>
<div id="listPrice">
    @foreach (var item in Model)
    {
    <div class="html-row">
    </div>
    }
</div>