<appSettings>
  <!--<add key="DefaultActiveDirectoryServer" value="tahcm.vn" />-->
  <add key="DefaultActiveDirectoryServer" value="bvta.vn" />
  <add key="AbsentLocked" value="0" />
  <add key="AbsentLockedFromDate" value="25" />
  <add key="AbsentLockedToDate" value="28" />
  <add key="AbsentLockedFromTime" value="12:00" />
  <add key="AbsentLockedToTime" value="00:00" />
  <add key="ZK_Host" value="10.8.8.30:5555" />
  <!--<add key="ZK_Host" value="127.0.0.1:5555" />-->
  <add key="QuyDinhNgaySuaDuLieu" value="8" />
  <!-- mail đặt phòng họp -->
  <add key="EmailHost" value="smtp.gmail.com" />
  <add key="RoomServiceSender" value="support@tamanhhospital.vn" />
  <add key="RoomReceiver" value="diemmy060296@gmail.com" />
  <add key="SupportReceiver" value="hotro@tamanhhospital.vn" />
  <add key="PasswordSender" value="Ta@36886" />
  <add key="UseAD" value="YES" />
</appSettings>