<div id='staticModal' class='modal fade'>
    <div class="modal-dialog" style="width: 760px;">
        <div id='staticModalContainer'>
            <div class="model-panel panel">
                <div class="panel-heading">
                    <h5><i class="fa fa-list"></i> Thêm mới danh mục Quận huyện</h5>
                    <a href="javascript:;" data-dismiss="modal" class="btnCloseModal"><i class="fa fa-close"></i></a>
                </div><!-- ./panel-heading -->
                <div class="panel-body form">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Tên quận huyện</label>
                            @Html.TextBox("cre_qh_ten", "", new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Đơn vị hành chính</label>
                            @Html.TextBox("cre_qh_donvi", "", new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Thành phố</label>
                            @Html.DropDownList("cre_qh_thanhpho", ViewBag.THANHPHO as List<SelectListItem>, new { @class = "form-control chosen-ddl input-sm" })
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button type="button" class="btn btn-sm btn-primary" id="cre_qh_btnCreate">Thêm</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".chosen-ddl").chosen();

        $("#cre_qh_btnCreate").click(function (e) {
            var _Name = $("#cre_qh_ten").val();
            var _DLevel = $("#cre_qh_donvi").val();
            var _City = $("select[name='cre_qh_thanhpho'] option:selected").val();
            if (_Name == '') {
                $(this).callToast("error", 'Chưa nhập tên quận huyện', '');
                return;
            }
            if (_DLevel == '') {
                $(this).callToast("error", 'Chưa nhập đơn vị hành chính', '');
                return;
            }

            var obj = {
                "Name": _Name,
                "DLevel": _DLevel,
                "City": _City,
            };
            $.ajax({
                url: '@Url.Action("AddNew_QuanHuyen", "DanhMuc")',
                type: 'POST',
                cache: false,
                contentType: "application/json",
                data: JSON.stringify(obj)
            }).success(function (data) {
                if (data.result == true) {
                    $(this).callToast("success", 'Tạo thành công.', data.message);
                    $(".btnCloseModal").focus().click();
                    Load_Data();
                } else {
                    $(this).callToast("error", 'Tên quận huyện đã tồn tại', data.message);
                }
            });
            e.preventDefault();
        });
    });
</script>