
<div id='staticModal' class='modal fade'>
    <div class="modal-dialog" style="width: 500px;">
        <div id='staticModalContainer'>
            <div class="model-panel panel">
                <div class="panel-heading">
                    <h5><i class="fa fa-list"></i> Thêm mới danh mục Loại lỗi chấm công</h5>
                    <a href="javascript:;" data-dismiss="modal" class="btnCloseModal"><i class="fa fa-close"></i></a>
                </div><!-- ./panel-heading -->
                <div class="panel-body form">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                        </div>
                        <div class="form-group col-md-8">
                            <label>Loại nhân viên</label>
                            @Html.TextBox("cre_lcc_ten", "", new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group col-md-2">
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button type="button" class="btn btn-sm btn-primary" id="cre_lcc_btnCreate">Thêm</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".chosen-ddl").chosen();

        $("#cre_lcc_btnCreate").click(function (e) {
            var _Des = $("#cre_lcc_ten").val();
            if (_Des == '') {
                $(this).callToast("error", 'Chưa nhập loại lỗi chấm công', '');
                return;
            }

            var obj = {
                "Des": _Des,
            };
            $.ajax({
                url: '@Url.Action("AddNew_LoaiLoiCC", "DanhMuc")',
                type: 'POST',
                cache: false,
                contentType: "application/json",
                data: JSON.stringify(obj)
            }).success(function (data) {
                if (data.result == true) {
                    $(this).callToast("success", 'Tạo thành công.', data.message);
                    $(".btnCloseModal").focus().click();
                    Load_Data();
                } else {
                    $(this).callToast("error", 'Loại lỗi chấm công đã tồn tại', data.message);
                }
            });
            e.preventDefault();
        });
    });
</script>