@{
    ViewBag.Title = "Danh mục các Quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var auth = ViewBag.Auth as string[];
}
<link rel="stylesheet" href="~/Areas/IVF/Content/TimeLapse.css" />

<style type="text/css">
    #quyen_data-table tbody td {
        word-break: break-all;
    }
</style>

<div class="section-body">
    <div class="head-section">
        <div class="title">
            <h4>Danh mục các Quyền</h4>
        </div>
        <div class="form">
            <fieldset>
                <legend>Điều kiện tìm kiếm:</legend>
                <form id="quyen_search" class="form-inline">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Tên quyền</label>
                            @Html.TextBox("quyen_ten", "", new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group col-md-2">
                            <label>Loại nhóm</label>
                            @Html.TextBox("quyen_nhom", "", new { @class = "form-control input-sm" })
                        </div>
                        <div class="btn-group col-md-1" style="margin-top: 22px; ">
                            <button type="button" class="btn btn-sm btn-primary" id="quyen_btnTimKiem">Tìm kiếm</button>
                        </div>                        
                    </div> <!-- form-row -->
                </form>
            </fieldset>
        </div>
    </div><!-- ./head-section -->

    <div class="middle-section">
        <div class="middle-action">
            <div class="form-group">
                <a href="javascript:;" id="quyen_btnCreate" class="btnCreate btn btn-primary btn-sm"><i class="fa fa-plus"></i> Thêm mới</a>
            </div>
        </div>
        <div class="inner-content" style="margin-bottom: 10px;">
            <table class="table table-condensed table-bordered table-hover" id="quyen_data-table" style="width: 100%">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên quyền</th>
                        <th>Loại nhóm</th>
                        <th>Ký hiệu</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="text-center">Chưa có dữ liệu</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- ./middle-section -->
</div>

<script type="text/javascript">
    $(function () {
        $(".chosen-ddl").chosen();
    });

    function Reload_DataTable(id, columns, source) {
        $.fn.dataTable.moment('DD/MM/YYYY');
        id = "#" + id;
        if ($.fn.dataTable.isDataTable(id)) {
            $(id).DataTable().destroy();
            $(id).find('tbody').empty();
        }
        var _tabledata = $(id).DataTable({
            "ajax": {
                "url": source,
                "type": "GET",
                "datatype": "json",
            },
            "pageLength": 20,
            "processing": true,
            "columns": columns,
            "deferRender": true,
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false
            }],
            "createdRow": function (row, data, dataIndex) {
                $(row).attr("onclick", "onClick_Row('" + data.ID + "')");
            },
            "language": {
                "sProcessing": "Đang tải dữ liệu...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            },
            "initComplete": function (settings, json) {
                //$("#ls-tongso").html(this.api().page.info().recordsTotal);
            }
        });
        _tabledata.on('page.dt order.dt draw.dt', function () {
            _tabledata.column(0, { search: 'applied', order: 'applied', page: 'current' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1 + _tabledata.page.info().start;
            });
        }).draw();

        $(id).on('processing.dt', function (e, settings, processing) {
            $('#processingIndicator').css('display', processing ? 'block' : 'none');
        }).dataTable();

        $(id).on('page.dt', function () {
            // $("input[name='dsdc-checkAll']").removeAttr("checked");
        });
    }

    var _columns = [
        { "data": {}, "class": "no-sort" },
        {
            "data": {},
            "render": function (data) {
                return data.RightTA;
            },
        },
        {
            "data": {},
            "render": function (data) {
                return data.PartTA;
            },
        },
        {
            "data": {},
            "render": function (data) {
                return data.ValTA;
            },
        },
        {
            "data": {},
            "render": function (data) {
                return "<a href=\"javascript:;\" onclick=\"Update('" + data.ValTA + "')\">Cập nhật</a>" + " - " + "<a href=\"javascript:;\" onclick=\"Delete('" + data.ValTA + "')\">Xóa</a>";
            }, "class": "text-center"
        }
    ];

    function Load_Data() {
        var objsearch = {
            RightTA: $("#quyen_ten").val(),
            PartTA: $("#quyen_nhom").val()
        };
        Reload_DataTable("quyen_data-table", _columns, "/admin/danhmuc/DS_Quyen_Search?" + $.param(objsearch));
    }

    //function Update(Code) {
    //    if (Code == '') {
    //        $(this).callToast("error", 'Xin mời chọn dòng dữ liệu cần cập nhật', '');
    //        return;
    //    }
    //    var objsearch = {
    //        AbsentCode: Code
    //    };
    //    $(this).callModal("/admin/danhmuc/Update_LoaiVang?" + $.param(objsearch));
    //};

    function Delete(ID) {
        var r = confirm("Bạn có muốn xóa bản ghi này không?");
        if (r) {
            var obj = {
                "ValTA": ID,
            };
            $.ajax({
                url: '@Url.Action("Delete_Quyen", "DanhMuc")',
                type: 'POST',
                cache: false,
                contentType: "application/json",
                data: JSON.stringify(obj)
            }).success(function (data) {
                if (data.result == true) {
                    $(this).callToast("success", 'Xóa bản ghi thành công.', data.message);
                    Load_Data();
                } else {
                    $(this).callToast("error", 'Lỗi cập nhật', data.message);
                }
            });
        }
    }

    function Update(Code) {
        if (Code == '') {
            $(this).callToast("error", 'Xin mời chọn dòng dữ liệu cần cập nhật', '');
            return;
        }
        var objsearch = {
            "ValTA": Code
        };
        $(this).callModal("/admin/danhmuc/Update_Quyen?" + $.param(objsearch));
    };

    $(function () {
        $("#quyen_btnTimKiem").click(function (e) {
            e.preventDefault();
            Load_Data();
        });

        Load_Data();

        $("#quyen_btnCreate").click(function (e) {
            $(this).callModal("/admin/danhmuc/Create_Quyen?");
            e.preventDefault();
        });

        function keypressHandler(e) {
            if (e.which == 13) {
                e.preventDefault(); //stops default action: submitting form
                $(this).blur();
                $('#quyen_btnTimKiem').focus().click();//give your submit an ID
            }
        }

        $('.head-section .form').keypress(keypressHandler);

        //$("#btnExcel").click(function () {
        //    var objsearch = {
        //        KHOAPHONG: $("#khoaphong").val(),
        //        TOANHA: $("#toanha").val(),
        //        TANG: $("#tang").val(),
        //        SODIENTHOAI: $("#sodienthoai").val()
        //    };
        //    var url = "/hcns/nhanvien/DS_DanhBa_Excel?" + $.param(objsearch);
        //    window.location = url;
        //});
    });
</script>