<style>
    /*table { width: 100% !important; }*/
        table tr th { white-space: nowrap; font-size: 10px; padding: 5px 0px !important; }
            table tr th::before, table tr th::after { content: "" !important; }
    .dataTables_wrapper > .row:first-child { display: none; }
    table tbody td { padding: 2px 0 !important; text-align: center; line-height: 16px !important; }
        table tbody td.text-left { padding-left: 5px !important; }
    .bg-yellow { background-color: #fff8cf; }
    table tbody tr td:nth-child(1) { background-color: #fff8cf; }
    table tbody tr td:nth-child(2) { background-color: #fff8cf; }
    table tbody tr td:nth-child(3) { background-color: #fff8cf; }
    .row { margin-bottom: 10px; }
    .form .row { margin-left: -5px; margin-right: -5px; margin-bottom: 10px; }
        .form .row [class*="col-md"] { padding-right: 5px; padding-left: 5px; }
    .form input, .form select { max-width: 100%; }

    .fixedHeader-floating { top: 50px !important; }
        .fixedHeader-floating thead tr:nth-child(1) th:nth-child(1) { width: 54px !important; }
        .fixedHeader-floating thead tr:nth-child(1) th:nth-child(2) { width: 210px !important; }
        .fixedHeader-floating thead tr:nth-child(1) th:nth-child(3) { width: 27px !important; }
    .dataTables_wrapper thead tr:nth-child(1) th:nth-child(1) { width: 60px !important; }
    .dataTables_wrapper thead tr:nth-child(1) th:nth-child(2) { width: 220px !important; }
    .dataTables_wrapper thead tr:nth-child(1) th:nth-child(3) { width: 30px !important; }
</style>

@{
    var dateInfo = ViewBag.Date == null ? DateTime.UtcNow.AddHours(7) : (DateTime)ViewBag.Date;
}

<table class="table table-bordered table-hover" id="table-data">
    <thead>
        <tr>
            <th class="text-center" rowspan="2" style="background-color: #fff8cf;">Mã NV</th>
            <th class="text-center" rowspan="2" style="background-color: #fff8cf;">Họ và tên</th>
            <th class="text-center bg-yellow" rowspan="2">All</th>
            @for (int i = 0; i < 30; i++)
            {
                <th class="text-center">
                    @{
                        var _nextDate = dateInfo.AddDays(i);
                        var _dayOfWeek = _nextDate.DayOfWeek.ToString();
                        var _dayName = "";
                        switch (_dayOfWeek)
                        {
                            case "Sunday":
                                _dayName = "CN";
                                break;
                            case "Monday":
                                _dayName = "T2";
                                break;
                            case "Tuesday":
                                _dayName = "T3";
                                break;
                            case "Wednesday":
                                _dayName = "T4";
                                break;
                            case "Thursday":
                                _dayName = "T5";
                                break;
                            case "Friday":
                                _dayName = "T6";
                                break;
                            case "Saturday":
                                _dayName = "T7";
                                break;
                        }
                    }
                    @(_dayName == "CN" ? Html.Raw("<span style='color:#ff0000;'>" + _dayName + "</span>") : Html.Raw(_dayName))
                </th>
            }
        </tr>
        <tr>
            @for (int i = 0; i < 30; i++)
            {
                <th class="text-center">@dateInfo.AddDays(i).Day.ToString("00")/@dateInfo.AddDays(i).ToString("MM")</th>
            }
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script type="text/javascript">
    $(function () {
        $(document).on('change', '.all', function () {
            var cVal = $(this).val();
            var parent_row = $(this).parent().parent();
            $(parent_row).find("select").val(cVal);
        });
    });
</script>