@{
    ViewBag.Title = "TinhHinhBenhTat_Tron";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "plskContent",
        //Confirm = "Are you sure to start search?",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h5>Tình hình bệnh tật dạng tròn</h5>
    </div>
    <div class="panel-body" style="position: relative;">
        <div id="divLoading" style="color: #fff900;background-color: rgba(0, 0, 0, 0.5);font-size: larger;display: none;position: absolute;top: 0;left: 0;right: 0;height: 100%;z-index: 9999;padding: 10px;text-align: center;">
            Đang tải dữ liệu ....
        </div>
        @using (Ajax.BeginForm("PLSK_Tron_Table", options))
        {
        <div class="filter-areas">
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Lần</label>
                        <select class="form-control input-sm" name="Times">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Năm</label>
                        <select class="form-control input-sm" name="Nam">
                            <option value="">-- Chọn năm --</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019" selected>2019</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-sm search" value="Tìm kiếm" style="margin-top: 22px;" />
                    </div>
                </div>
            </div>
        </div>
        }

        <div id="plskContent">
            @Html.Action("PLSK_Tron_Table", "SKNV", new { areas = "HCNS.Controllers" })
        </div>
    </div>
</div>